body {
    font-family: "Neucha", cursive;
    margin: 0;
    padding: 0;
    color: #590000;
    background: #fedb70;
}

h1 {
    color: #fedb70;
}

h2, h3 {
    color: #c70e02;
    margin-left: 5%;
}

h2 {
    margin-bottom: 2vw;
    font-size: 3em;
    text-align: left;
}

p {
    line-height: 1.6;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
}

header {
    background-color: #c70e02;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10vw;
    margin-right: 2vw;
}

nav a {
    color: #fedb70;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 1vw;
    font-weight: bold;
}

nav a:hover {
    color: #ffe4b5;
}

main {
    padding: 2%;
    text-align: center;
}

main h2 {
    margin-top: 3vh;
}

.welcome {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 2vh;
}

#wide_image {
    margin-top: 3vw;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3vw;
}

.contact {
    margin-left: 5%;
    color: #c70e02;
}

.contact:hover {
    color: #c77e6a;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pizza-item {
    display: inline-block;
    width: 20%; 
    margin: 1%; 
    text-align: left;
    background-color: #f3e4ba;
    border-radius: 10px;
    box-shadow: rgb(89, 0, 0) 0px 5px 15px;
    flex-grow: 1;
}
.pizza-item img {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #c70e02;
    color: #fedb70;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 5%;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
}

.button:hover {
    background-color: #e5533d;
}

footer {
    background-color: #590000;
    color: #fedb70;
    text-align: center;
    padding: 2vh;
    font-size: 0.8em;
    margin-top: 6vh;
}

footer .contacts, footer .social {
    margin-bottom: 1vh;
}

footer a {
    color: #ffe4b5;
    text-decoration: none;
    margin: 0 0.5vw;
}

footer a:hover {
    color: #ff6347;
}

.about-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2%;
    padding: 2%;
}

.about-container img,#contactForm {
    width: 40vw;
    border-radius: 10px;
    margin-right: 2vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    box-shadow: rgb(89, 0, 0) 0px 5px 15px;
}

table {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto 6vh auto;
    border-collapse: collapse;
    font-size: 1em;
}

thead, tbody, tr {
    display: contents;
}

table, th, td {
    border: 1px solid #982828;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #c70e02;
    color: #fedb70;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.pizza-item {
    animation: fadeIn 1s ease-in-out;
}
.img-anim {
    animation: fadeIn 1s ease-in-out;
}
form{
    animation: fadeIn 1s ease-in-out;
}


form {
    background-color: #f3e4ba;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(89, 0, 0, 0.5);
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

form label {
    font-size: 1.2em;
    font-weight: bold;
    color: #c70e02;
}
form h3 {
    font-size: 1.8em;
    text-align: center;
    color: #c70e02;
    margin-bottom: 1em;
}


form input, form textarea, form button {
    font-size: 1em;
    padding: 0.8em;
    border: 1px solid #982828;
    border-radius: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color:#fedb70;
}

form input:focus, form textarea:focus {
    border-color: #c70e02;
    box-shadow: 0 0 5px rgba(199, 14, 2, 0.5);
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    background-color: #c70e02;
    color: #fedb70;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e5533d;
}
